fastapi==0.87.0
pydantic==1.8.2
pydeck==0.8.0
PyJWT==2.6.0
pykerberos==1.2.4
pymongo==4.3.2
Pympler==1.0.1
PyNaCl==1.1.2
pyobjc-core==8.5
pyobjc-framework-Cocoa==8.5
pyphen==0.12.0
PyQt5==5.15.2
PyQt5_sip==4.19.25
PyQtChart==5.15.2
Pyrebase4==4.5.0
pysha3==1.0.2
python-dotenv==0.21.0
python-jwt==4.0.0
python-rapidjson==0.6.3
python-rapidjson-schema==0.1.1
python-snappy==0.6.1
pytz==2022.6
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.2
requests-toolbelt==0.10.1
resampy==0.3.1
rfc3986==1.5.0
rich==12.6.0
rsa==4.9
scikit-learn==1.1.1
scipy==1.8.0
screeninfo==0.8
seaborn==0.11.2
selenium==4.4.3
semver==2.13.0
sklearn==0.0.post1
smart-open==5.2.1
smmap==5.0.0
sniffio==1.2.0
sortedcontainers==2.4.0
SoundFile==0.10.3.post1
soupsieve==2.3.2.post1
spacy==3.2.2
spacy-legacy==3.0.8
spacy-loggers==1.0.1
sqlparse==0.4.3
srsly==2.4.2
starlette==0.21.0
sklearn==0.0.post1
pandas==1.4.0